@tailwind base;
@tailwind components;
@tailwind utilities;



.slider::-webkit-scrollbar,
.videos-slider::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Hide number input spinner for Chrome, Edge, Safari */
.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinner for Firefox */
.custom-number-input[type="number"] {
  -moz-appearance: textfield;
}

.custom-editor h1, 
.custom-editor h2, 
.custom-editor h3, 
.custom-editor h4, 
.custom-editor h5, 
.custom-editor h6 {
    line-height: 1.4;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-wrap: pretty;
    font-weight: bold;
  }

  .custom-editor h1 {
    font-size: 2.25rem;
    margin-top: 2rem;
  }

  .custom-editor h2 {
    font-size: 1.875rem;
  }

  .custom-editor h3 {
    font-size: 1.5rem;
  }

  .custom-editor h4 {
    font-size: 1.25rem;
  }

  .custom-editor h5 {
    font-size: 1.125rem;
  }

  .custom-editor h6 {
    font-size: 1rem;
  }


.custom-editor blockquote {
  font-style: italic;
  border-left: 4px solid #cbd5e1;
  padding-left: 1rem;
}
.custom-editor ul, .custom-editor ol {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-position: outside; /* Changed from 'inside' to 'outside' */
}

.custom-editor ul {
  list-style-type: disc;
}

.custom-editor ol {
  list-style-type: decimal;
}

.custom-editor ul li, .custom-editor ol li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-size: 1rem;
}


.custom-editor [data-color] {
  color: inherit;
}

.loadingIcon {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #ffffff;
  background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.loadingIcon::before,
.loadingIcon::after {    
content: "";
grid-area: 1/1;
background:
  linear-gradient(currentColor 0 0) center,
  linear-gradient(currentColor 0 0) center;
background-size: 100% 10px,10px 100%;
background-repeat: no-repeat;
}
.loadingIcon::after {
  transform: rotate(45deg);
}

@keyframes l19 { 
100%{transform: rotate(1turn)}
}




@keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
}

/* HTML: <div class="loadingIcon3"></div> */
.loadingIcon2 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(135deg,#0000 calc(50% - 0.5em),#000 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
}
.loadingIcon2::before {
  content: "Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg,#0000 calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#0000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l22{
  100%{background-position: left}
}

/* HTML: <div class="loadingIcon3"></div> */
.loadingIcon3 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loadingIcon3::before,
.loadingIcon3::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loadingIcon3::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

/* HTML: <div class="loadingIcon4"></div> */
/* HTML: <div class="loadingIcon4"></div> */
.loadingIcon4 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffffff 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffffff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}