.formInput{
    outline: none;
    border: none;
    background-color: rgba(81, 121, 134, 0.32);
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;

}
.formLabel{
    color: white;
}

.formField{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
}

.testStyle{
    color: rgba(45, 45, 45, 0.49);
}